* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('assets/concrete.jpg');
    /* background-color: darkgray; */
    font-family: 'Roboto', sans-serif;
}

.center-wrapper {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

img.phone {
    height: 800px;
    border: 3px orange;
}

.home-screen {
    background-image: url('assets/sunflower-phone-background.jpg');
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    height: 484px;
    max-width: 272px;
    margin-top: -653px;
    margin-left: 108px;
}

.wifi-time-battery {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    height: 15px;
}
.signal, .battery { font-size: 12px; }
.time { font-size: 14px; }

.applications { 
    padding: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media only screen and (min-width: 480px) {
    .home-screen {
      background-color: lightblue;
    }
}

@media only screen and (max-width: 481px) {
    img.phone {
        display: none;
    }

    .home-screen {
        height: 100vh;
        width: 100vw;
        position: unset;
        margin-top: 0px;
        margin-left: 0px;
        max-width: 480px;
    }
}

.messages-overlay {
    height: 100%;
    width: 90vw;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141414;
    color: #ffffff;
    padding: 5%;
}

.ellis-overlay {
    height: 100%;
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #141414;
    color: #ffffff;
    padding: 0px;
}

.top-contact {
    background-color: #1b1b1b;
    padding: 4% 5% 6% 5%;
}
.top-contact > div {
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button, .individual-back-button {
    padding: 4px 10px 4px 10px;
    background-image: linear-gradient(#989898, #505050);
    border: 1px solid #8a8a8a;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.page-title { 
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-photo {
    background-image: url(assets/people/adam.jpeg);
    background-size: 50px 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    margin: 10px;
}

/* .individual-message > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.message-contact-photo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.stack-message {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}

hr{
    height: 1px;
    background-color: #505050;
    border: none;
}